<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Simple Access App</title>
  </head>
  <body>
    <div><a href="{{ url_for('index') }}">Simple Access App</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>