{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
	<a href="{{ url_for('logout') }}">Logout</a> <br><br>
	<div>
		<div>
			<form action="{{ url_for('api_get_entity') }}" method="POST">
				{{form.key(required='required')}}
				<input type="submit" value="Search">
			</form>
			<form action="{{ url_for('api_create_entity') }}" method="POST">
				{{form.key(required='required')}} {{form.value(required='required')}}
				<input type="submit" value="Add">
			</form>
			<div>
				<table>
					<thead>
						<tr>
							<th>Key</th>
							<th>Value</th>
						</tr>
					</thead>
					{% if entities %} {% for entity in entities %}
					<tr>
						<td>{{ entity.key }}</td>
						<td>{{ entity.value }}</td>
					</tr>
					{% endfor %} {% endif %}
				</table>
			</div>
		</div>
	</div>
{% else %}
	<p>Not login!</p>
	<a href="{{ url_for('login') }}">Login</a>
	<a href="{{ url_for('register') }}">Sign Up</a> 
{% endif %}
{% endblock %}