{% extends "base.html" %}
{% block content %}
  {% if session['logged_in'] %}
    <p>You're logged in already!</p>
  {% else %}
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Log in">
    </form>
{% endif %}
{% endblock %}