{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
  <p>Oh no Dont show page</p>
{% else %}
  <h2>Register</h2>
  <form action="{{ url_for('register') }}" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign Up">
  </form>
{% endif %}
{% endblock %}